*.depend
*.layout
*bin/
*.bak
*~
*.orig
*.gch
CMakeFiles
CMakeCache.txt
cmake_install.cmake
MakeFile
build
libs/boost/
libs/windows/
libs/win32*/
libs/win64*/
libs/linux/
__pycache__/
tests/bin/
*#
/.project
